<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'panels')}">

<body>

<h2>Paneles Electricos</h2>

<form method="GET" action="/panels.html">
  <table>
  <tr>
  <td><input type="text" name="keyword" th:value="${keyword}" placeholder="Buscar por CUPS"/></td>
  <td><input type="submit" value="Buscar"/></td>
  </tr>
  </table>
  </form>

<table id="pannels" class="table table-striped">
  
  <thead>
  <tr>
    <th>CUPS</th>
    <th>Distribuidor</th>
    <th>Código Operador</th>
    <th>Titular Identificativo</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="panel : ${listPanels}">
    <td>
    <a th:href="@{/panel/__${panel.cups}__}" th:text="${panel.cups }"/></a>
  </td>
    <td th:text="${panel.distribuidor }"></td>
    <td th:text="${panel.codigoOperador }"></td>
    <td th:text="${panel.titularIdentificativo }"></td>
    
  </tr>
  </tbody>
  
</table>
<p>Subir puntos:</p>
<form enctype="multipart/form-data" id="formCSV" method="POST" action="/electricalPanels/upload">
  <input type="file" name="file" accept=".csv">
  <button type="submit" class="btn btn-dark">Subir</button>
</form>

<p>Subir consumos:</p>
<form enctype="multipart/form-data" id="formCSV" method="POST" action="/consumos/upload">
  <input type="file" name="file" accept=".csv">
  <button type="submit" class="btn btn-dark">Subir</button>
</form>

<p>Subir potencias:</p>
<form enctype="multipart/form-data" id="formCSV" method="POST" action="/potencias/upload">
  <input type="file" name="file" accept=".csv">
  <button type="submit" class="btn btn-dark">Subir</button>
</form>


<div th:if="${totalPages > 1}">
  <span>Pages:</span>
  <span>[</span>
  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/panels.html?page=__${i}__'}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
    </span>
  <span>]&nbsp;</span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/panels.html?page=1'}" title="First"
         class="fa fa-fast-backward"></a>
      <span th:unless="${currentPage > 1}" title="First" class="fa fa-fast-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/panels.html?page=__${currentPage - 1}__'}" title="Previous"
         class="fa fa-step-backward"></a>
      <span th:unless="${currentPage > 1}" title="Previous" class="fa fa-step-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/panels.html?page=__${currentPage + 1}__'}" title="Next"
         class="fa fa-step-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Next" class="fa fa-step-forward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/panels.html?page=__${totalPages}__'}" title="Last"
         class="fa fa-fast-forward"></a>
      <span th:unless="${currentPage < totalPages}" title="Last" class="fa fa-fast-forward"></span>
    </span>
</div>
</body>
</html>
